@charset "utf-8";

/**
* Custom css
* http://artcode.com.ua
*/

* {
  margin:0;
  padding:0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  box-sizing:border-box;
  height:100%;
  min-width:280px;
  background-color: #fff;
  color:#333;
/*  font-family: 'Roboto', sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight:400;
  line-height:1.5;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

a {
  text-decoration: none;
  color: blue;
  transition: 0.2s ease-out;
}

/*
a:visited {
  color: #212121;
}
*/

img {
  display: inline-block;
}

header, footer, nav, article {
  display: block;
}

h1 {
    margin: 1.0em 0 0 0;
    font-size: 2em;
}
h2 {
    margin: 1em 0 0 0;
    font-size: 1.5em;
}
h3 {
    font-weight: bold;
    font-size: 1.0em;
}
p {
    font-size: 1.0em;
}
ul {
    font-size: 1.0em;
    list-style-position: inside;
}

@media (max-width: 800px) {
  h1 {
    font-size: 1.25em;
  }
  h2 {
    font-size: 1.1em;
  }
  h3 {
    font-weight: bold;
    font-size: 1.0em;
  }
  p {
    font-size: 1.0em;
  }
  ul {
    font-size: 0.75em;
    list-style-position: inside;
  }
}

/* --- HEADER --- */

header {
  display: inline-block;
  width: 100%;
/* background: rgba(0, 0, 0, 0.1); */
  background: linear-gradient(
              rgba(0, 0, 0, 0.7),
              rgba(0, 0, 128, 0.7)
  ), url('../images/kharkovgroup.jpg');
/*  background-color:whitesmoke; */
  background-size: auto auto; /*cover;*/
  background-position: center; /*50% 50%;*/
  background-repeat: no-repeat;
  padding: 2.0em 0 1.0em 0;
}

header p.logo {
  color: #fff;
  font-size: 2.5em; /*32px;*/
}

header p.slogan {
  color: #fff;
  font-size: 1.5em;
}

header a.logo {
  text-decoration: none;
}

@media (max-width: 800px) {
  header p.logo {
    color: red;
    font-size: 2em;
  }

  header p.slogan {
    color: red;
    font-size: 1em;
  }
}

/* --- GRID --- */

.container {
  max-width: 960px; /*1140px;*/
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}
